# List Data Type

If we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed then we should go for list data 
type. 
 
1) Insertion Order is preserved 
2) Heterogeneous Objects are allowed 
3) Duplicates are allowed 
4) Growable in nature 
5) Values should be enclosed within square brackets.

In [1]:
l1=[12,'aniket',True,10.5]
print(l1)

[12, 'aniket', True, 10.5]

In [2]:
list=[10,20,30,40,50]

In [3]:
list[0]

10

In [4]:
list[-1]

50

In [5]:
list[1:4]

[20, 30, 40]

In [6]:
list[0]=100

In [7]:
list

[100, 20, 30, 40, 50]

In [8]:
#list is growable in nature. based on our requirement we can increase or decrase the size.

In [9]:
for i in list:
    print(i)

100
20
30
40
50

In [10]:
l1=[10,20,30]
l1.append("aniket")

In [11]:
l1

[10, 20, 30, 'aniket']

In [12]:
l1.remove(20)

In [13]:
l1

[10, 30, 'aniket']

In [14]:
l2=l1*2

In [15]:
l2

[10, 30, 'aniket', 10, 30, 'aniket']

# tuple data type

tuple data type is exactly same as list data type except that it is immutable.i.e we cannot chage values. 

Tuple elements can be represented within parenthesis.

In [16]:
t=(1,2,3,'aniket',40)

In [17]:
t

(1, 2, 3, 'aniket', 40)

In [18]:
type(t)

tuple

In [19]:
t[0]

1

In [20]:
#t[0]=100

# range data type

range Data Type represents  a sequence of numbers. 

The elements present in range Data type are not modifiable. i.e range Data type is immutable.

In [21]:
range(10)

range(0, 10)

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
range(10,20)

range(10, 20)

In [24]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [25]:
range(10,20,2)

range(10, 20, 2)

In [26]:
for i in range(10,20,2):    # 2 means increment value
    print(i)

10
12
14
16
18

In [27]:
r= range(10,20)
r[0]

10

In [28]:
r[1]# we can access the indexing

11

In [29]:
r[9]

19

In [30]:
#r[5]=100# range does not support the item assignment

# set data type

If we want to represent a group of values without duplicates where order is not 
important then we should go for set Data Type. 
 
1) Insertion order is not preserved 
2) Duplicates are not allowed 
3) Heterogeneous objects are allowed 
4) Index concept is not applicable 
5) It is mutable collection 
6) Growable in nature

In [31]:
s={100,200,3,40,'durga'}

In [32]:
s

{100, 200, 3, 40, 'durga'}

In [33]:
#s[0] set does not support indexing

In [34]:
s.add(60)

In [35]:
s

{100, 200, 3, 40, 60, 'durga'}

In [36]:
s.remove(100)

In [37]:
s

{200, 3, 40, 60, 'durga'}