# Set:
if you want to represnt a group of unique value as a single entity then we should go for set.
duplicates are not allowed.
indexing and sliceing are not allowed.
hetergenous elements are not allowed.
set is mutable

In [1]:
s={10,20,30,467}

In [2]:
type(s)

set

In [3]:
print(s)

{10, 467, 20, 30}

In [6]:
list=[10,20,30,40,45]
s=set(list)

In [9]:
print(s)# hence set not allowed indexing

{40, 10, 45, 20, 30}

In [10]:
s=set(range(5))

In [11]:
print(s)

{0, 1, 2, 3, 4}

In [12]:
s={}# empty set shows us dictionary data type

In [13]:
type(s)

dict

In [14]:
#how to print empty set
s=set()
print(s)

set()

In [15]:
type(s)

set

# important function of set:

In [16]:
#add(x):it use add item to the set.

In [17]:
s={10,20,30,40,50}

In [18]:
s.add(60)

In [19]:
print(s)

{50, 20, 40, 10, 60, 30}

# update(x,y,z):
to add multiple items to the set.

In [3]:
s={10,30,40}
i=[40,50,60]
s.update(i,range(5))

In [4]:
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 60, 30}

In [5]:
# what is difference between add() and update() function in set?

In [6]:
s.add(10)

In [7]:
s.add(10,20,30)# add function allow only one argument

TypeError: set.add() takes exactly one argument (3 given)

In [8]:
s.update(10)

TypeError: 'int' object is not iterable

In [9]:
s.update(range(1,10,2))

In [10]:
print(s)

{0, 1, 2, 3, 4, 5, 7, 40, 9, 10, 50, 60, 30}

# copy():

In [11]:
# return copy of the set.
#it is cloned object.

In [12]:
s={10,20,30}
s1=s.copy()

In [13]:
print(s1)

{10, 20, 30}

In [14]:
s1=s

In [15]:
print(s1)

{10, 20, 30}

In [16]:
s={10,20,40,60}

In [17]:
s.pop()

40

In [18]:
print(s)

{10, 20, 60}

In [19]:
s={40,10,20,30}
s.remove(30)
print(s)

{40, 10, 20}

In [20]:
# discard(x):

In [21]:
# it removes the specified element from the set.

In [22]:
s.discard(10)

In [23]:
print(s)

{40, 20}

In [24]:
s.discard(40)

In [25]:
print(s)

{20}

In [26]:
#clear():
#to remove all element from the set.

In [27]:
s={10,20,30,40}
print(s)
s.clear()
print(s)

{40, 10, 20, 30}
set()

# mathematical operation on the set:

In [28]:
#1)union():
#x.union(y):we can use this function to return all element presnt in both sets

In [29]:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))

{40, 10, 50, 20, 60, 30}

In [30]:
print(x|y)

{40, 10, 50, 20, 60, 30}

In [31]:
#intersention():it return common elements present in both x and y.

In [32]:
x={10,20,30,40,50}
y={30,40,50,60,70,80}
print(x.intersection(y))

{40, 50, 30}

In [33]:
print(x&y)

{40, 50, 30}

In [34]:
#3 difference():
#x.difference(y) or x-y
# return the element present in x but not in y.

In [36]:
print(x.difference(y))

{10, 20}

In [37]:
print(x-y)

{10, 20}

In [38]:
print(y-x)

{80, 60, 70}

In [39]:
print(x^y)

{80, 20, 70, 10, 60}

In [40]:
#membership operators:(in,not in)

In [41]:
s=set("aniket")

In [42]:
print(s)

{'i', 'n', 'k', 'a', 'e', 't'}

In [44]:
print("a" in s)

True

In [45]:
print("k" in s)

True

In [46]:
print("y"in s)

False

In [47]:
print("h" not in s)

True

# set comprehension:

In [48]:
s={x*x for x in range(6)}

In [49]:
print(s)

{0, 1, 4, 9, 16, 25}

In [50]:
s={2**x for x in range(8)}

In [51]:
print(s)

{32, 1, 2, 64, 4, 128, 8, 16}