# Dict data type

If we want to represent a group of values as key-value pairs then we should go for dict data type. 
 
 Eg: d = {101:'durga',102:'ravi',103:'shiva'} 
 
 Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

In [1]:
d={101:'aniket',105:'bhavar',988:'pratik'}

In [2]:
print(d)

{101: 'aniket', 105: 'bhavar', 988: 'pratik'}

In [3]:
d[101]="shreyas"

In [4]:
d

{101: 'shreyas', 105: 'bhavar', 988: 'pratik'}

In [5]:
d['a']='apple'   # we can also add key value pairs 
d['b']='banana'  # dict is mutable  
print(d)

{101: 'shreyas', 105: 'bhavar', 988: 'pratik', 'a': 'apple', 'b': 'banana'}

In [6]:
type(d)

dict

In [7]:
s={100,200}

In [8]:
type(s)

set

In [9]:
s={200:200}

In [10]:
type(s)

dict

# summary of datatypes in python

In [11]:
#int: we can use to represent the whole/integral numbers
#int is immmutable 
a=10
type(a)

int

In [12]:
#float: we can use to represent the decimal /floating point numbers
#float is immutable
a=10.5
type(a)

float

In [13]:
#complex: we can use to respresnt the complex number
#complex is immutable
c=10+5j
type(c)

complex

In [14]:
c.real

10.0

In [15]:
c.imag

5.0

In [16]:
#bool: we can use to represent the logical values
#bool is immutable
flag=True
flag=False
type(flag)

bool

In [17]:
#string: string is collention of sequence of character enclose within single or double quotes
#str: to represnt squence of character
#str is immutable
s="aniket"
type(s)

str

In [18]:
s="aniket bhavar"
type(s)

str

In [19]:
#bytes: to represent a squence of byte value from 0-255
#bytes is immutable
list=[1,2,3,4]
b=bytes(list)
type(b)

bytes

In [20]:
#range: to represent a range of values
#range is immutable
r=range(10)
r1=range(0,10)
r2=range(0,10,2)
type(r)

range

In [21]:
#list:to represent an oredered collection of objects
#list is mutable
list=[10,20,30,40,50,60]
type(list)

list

In [22]:
#tuple to repreent an ordered collection of object
#tuple is immutable
t=(1,3,4,5,6)
type(t)

tuple

In [23]:
#set to To represent an unordered collection of unique objects
s={1,2,3,4,5,6} 
type(s) 
#set is mutable

set

In [24]:
#dict To represent a group of key value pairs 
#dict is mutable
d = {101:'durga', 102:'ramu', 103:'hari'} 
type(d)

dict