# tuple:

tuple is exactly same as list except that is immutable.means once we create a tuple objects we cannot performany changes in that object.

Hence tuple is read only version of list.

if our data is fixed and never changes then we should go for tuple.

insertion order is preserved

duplicates are allowed

hetergenous objects are allowed.

tuple suport both +ve and -ve indexes.

we can reprsent tuple element within parenthesis and with comma seperator.

parenthesis are optional

In [1]:
t=(10,20,30,40,50)

In [2]:
type(t)

tuple

In [3]:
print(t)

(10, 20, 30, 40, 50)

In [7]:
#if we have to define tuple and in that #we have to stored single elment that time it shows int data type

In [8]:
t=(10)

In [9]:
type(t)

int

In [10]:
t=(10,)

In [11]:
print(t)

(10,)

In [12]:
t=10,20,30

In [13]:
print(t)

(10, 20, 30)

In [16]:
type(t)

tuple

In [18]:
t=()#empty tuple
type(t)

tuple

In [24]:
t=10,20,30#parenthesis are optional
print(t,type(t))

(10, 20, 30) <class 'tuple'>

In [26]:
t=(10,)#creation of single valued tuple.should ends wtih comma.
print(t,type(t))

(10,) <class 'tuple'>

In [27]:
list=[10,20,30,40]
t=tuple(list)
print(t,type(t),type(list))

(10, 20, 30, 40) <class 'tuple'> <class 'list'>

# Accessing element of tuple:

In [28]:
#there is two option to access element:1 by using index or 2 by use slice operator.

# by using index:

In [29]:
t=(10,20,30,40,50)
print(t[0])

10

In [31]:
t[0]=23# it gives error because we can not modify tuple ones we created.

TypeError: 'tuple' object does not support item assignment

In [32]:
print(t[0:3])

(10, 20, 30)

In [34]:
print(t[0:100])

(10, 20, 30, 40, 50)

In [37]:
print(t[::-1])

(50, 40, 30, 20, 10)

In [38]:
print(t[::2])

(10, 30, 50)

# tuple vs immutability:
once we creates tuple we cannot change its content.
hence tuple objects are immutable.

In [39]:
#t[0]=23

# mathematical operators for tuple:
we can apply + and * operators for tuple.

In [41]:
#concatenation operator(+):
t1=(10,20,30,40,50)
t2=(60,70,80,90,100)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [43]:
#multiplication operator or repetition operator(*)
t1=(10,30,40)
t2=t1*4

print(t2)

(10, 30, 40, 10, 30, 40, 10, 30, 40, 10, 30, 40)

# imp function of tuple:

In [48]:
#1 len():to return a how many elemnt presnet inside the tuple.
t=(10,20,30,10)
len(t)

4

In [49]:
t.count(10)

2

In [52]:
#index:
t=(10,20,30,40,50,60)
t.index(40)

3

In [53]:
#sorting():

In [54]:
t=(10,20,30,40,50,5,0,1,2)

In [56]:
print(sorted(t))

[0, 1, 2, 5, 10, 20, 30, 40, 50]

In [58]:
print(t)

(10, 20, 30, 40, 50, 5, 0, 1, 2)

In [59]:
#min and max function:

In [64]:
s=(10,20,3,0,4,5)

In [65]:
print(min(s))

0

In [66]:
print(max(s))

20

# tuple packing and unpacking:

In [67]:
a=10
b=20
c=38
d=40
# in that we packing our variable into a tuple t

In [68]:
tuple=a,b,c,d

In [69]:
print(tuple)

(10, 20, 38, 40)

In [72]:
t=(10,20,30,40,50,60)

In [76]:
a,b,c,d,e,f=t

In [78]:
print("a",a,"b",b,"c",c,"d",d,"e",e,"f",f)

a 10 b 20 c 30 d 40 e 50 f 60

# tuple comprhension:

In [79]:
t=(x*2 for x in range(1,6))

In [81]:
for x in t:
    print(x)

2
4
6
8
10

In [86]:
t=eval(input())
l=len(t)
sum=0
for i in t:
    sum=sum+i
print(sum)

10,20,30
60